
.mainDiv {
    display: flex;
    align-items: space-around;
    max-width: 960px;
    max-height: 960px;
}

.l1 {
    box-sizing: border-box;
    display: flex;
    flex:1;
    min-height: 60px;
    background-color: aqua;
    border: 1px solid black;
    justify-content: space-between;
}

.l2 {
    display: flex;
    flex: 1;
    border: 1px solid black;
}